* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}


/* utilities */

.SCradius {
    border-radius: 15px;
}

.bg-grey {
    background-color: rgba(128, 128, 128, 0.644);
}

.bg-Lgrey {
    background-color: lightgray;
}

.bg-dark-blue {
    background-color: #161c3b;
}

.bg-blue {
    background-color: #00439c;
}

.bg-orange {
    background-color: #cd3d0f;
}

.static {
    position: static;
}

.drop-absolute {
    left: 0;
    padding: 0;
    min-width: 100%;
    justify-content: center;
}

/* /utilites */

/* .dropdown {
    position: static;
}

.dropdown-menu {
    left: 0;
    padding: 0;
    min-width: 100%;
    justify-content: center;
} */

.dropdown-burger {
    display: none;
    position: absolute;
    right: 0px;
    top: 65px;
    background-color: white;
    max-width: 120px;
    border-radius: 0px 0px 0px 15px;
}

.dropdown-burger li {
    margin-bottom: 10px;
}

.dropdown-burger a {
    text-decoration: none;
    color: black;
}

/* inizio jumbo */

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: 40%;
    padding-bottom: 5%;
    margin-top: 100px;
}

/* .jumbo h1 {
    font-size: 4rem;
}

.jumbo p {
    font-size: 1.2rem;
}

h1 {
    font-size: 40px;
} */

/* /jumbo */

/* inizio console */

#console p {
    font-size: 20px;
    font-weight: 500;
}

#consoleImg img {
    opacity: 0.5;
}

/* /console */

#explore a {
    text-decoration: none;
}

/* inizio main game */

#mainGame {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}


/* fine main game */

/* inizio new games */

#newGames a {
    text-decoration: none;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

/* / new games */

/* sconti */

#sconti img {
    transition: transform 0.6s, border-radius 0.6s;
}

/* / sconti */

/*********** hover *************/

.dropdown:hover .dropdown-menu {
    display: flex;
}

.navbar-toggler:hover .dropdown-burger {
    display: block;
}

.dropdown-burger a:hover {
    text-decoration: underline;
}

#consoleImg img:hover{
    transition: opacity 0.5s ease;
    opacity: 1;
}

#consoleImg .row:hover{
    border-bottom: 1px solid blue;
}

#botJumbo img:hover {
    transition: transform 1s, border 0.5s;
    transform: translateY(-20px);
    border: 2px solid blue;
}

.jumbo a:hover {
    border: 2px solid black;
    outline: 2px solid #cd3d0f;
}

.rightNavBtn:hover {
    border: 2px solid white;
    outline: 2px solid black;
}

.bg-primary:hover {
    border: 2px solid white;
    outline: 2px solid #2d64e6;
}

#mainGame a:hover {
    border: 2px solid black;
    outline: 2px solid #cd3d0f;
}

#newGames div img:hover {
    animation-name: disk;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes disk {
    from {
        border-radius: 0%;
        transform: rotate(0deg);
    }

    to {
        border-radius: 50%;
        transform: rotate(360deg);
    }
}

#PSplus a:hover {
    border: 1px solid black;
    outline: 2px solid lightgray;
}

#PSnow a:hover {
    border: 2px solid #161c3b;
    outline: 2px solid white;
}

footer a:hover {
    color: white;
}


#sconti img:hover {
    transform: scale(0.9);
    border-radius: 25px;
}

/************* Media Query ***********/

@media screen and (min-width: 576px) {
    .SCcontainer {
        width: 98%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px) {
    .jumbo {
        padding-top: 25%;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 45px;
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }

    .jumbo {
        padding-top: 20%;
    }

    .SCcontainer {
        width: 95%;
        margin: 0 auto;
    }

    #explore h1 {
        font-size: 50px;
    }

    #explore p {
        font-size: 25px;
    }
}