* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utilities */

.SCradius {
    border-radius: 15px;
}



/* /utilites */

/* inizio jumbo */

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: 40%;
    padding-bottom: 5%;
}

h1 {
    font-size: 40px;
}

/* /jumbo */

/* inizio console */

#console p {
    font-size: 20px;
    font-weight: 500;
}

/* /console */

/* inizio main game */

#mainGame {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}