* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* utilities */

.SCradius {
    border-radius: 15px;
}

.bg-grey {
    background-color: rgba(128, 128, 128, 0.644);
}

.bg-Lgrey {
    background-color: lightgray;
}

.bg-dark-blue {
    background-color: #161c3b;
}

.bg-blue {
    background-color: #00439c;
}

.bg-orange {
    background-color: #cd3d0f;
}

/* /utilites */

/* inizio jumbo */

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 5%;
}

/* .jumbo h1 {
    font-size: 65px;
}

.jumbo p {
    font-size: 20px;
} */

h1 {
    font-size: 40px;
}

/* /jumbo */

/* inizio console */

#console p {
    font-size: 20px;
    font-weight: 500;
}

#consoleImg img {
    opacity: 0.5;
}

/* /console */

#explore a {
    text-decoration: none;
}

/* inizio main game */

#mainGame {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

#mainGame h1 {
    font-size: 60px;
}

/* fine main game */

footer a {
    text-decoration: none;
    color: white;
}

/* hover */

.dropdown:hover .dropdown-menu {
    display: flex;
}

#consoleImg img:hover{
    opacity: 1;
}

#consoleImg .row:active {
    border-bottom: 1px solid blue;
}